@import url('https://fonts.googleapis.com/css2?family=Rationale&display=swap');

*{
    margin: 0;
    padding: 0;
}

.txt2{
    font-family: 'Rationale', sans-serif;
}
.championshipbg{
    /* background: url('../images/ppl1.svg'); */
    /* background-repeat: no-repeat; */
    /* background-size: contain; */
}
.css-0 .css-1ed0zuz{
    padding-top: 0px;
}


.about-championship {
    padding: 30px 20px;
    font-size: 20px;
    background: #dedede;
    border-radius: 5px;
    margin-top: 25px;
    font-weight: bold;
    box-shadow: 5px 5px 5px #0000ff33;
    transition: 0.3s;
}