
.contact
{
    width: 100vw;
    height: 100vh;
    content: "";
    padding: 0%;
    position: relative;
    overflow: hidden;
    color: #222244;
}
.contact-bg
{
    background-image: url("../images/contact/contactBg.svg");
    content: "";
    width: 100vw;
    height: 150vh;
    background-repeat: no-repeat;
    top: 20%;
    left: -30%;
    position: absolute;
    transform: rotate(30deg);
}
 svg.shapediv13 {
    position: absolute;
    bottom: 0;
    height: 250px;
    width: 100vw;
    fill: #FF5252;
}
.contact span 
{
    color: #bcdfec;
    text-shadow: 0 2px #2b3336;
    margin: 0 1vw;
}
/* .contact::after
{
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 60%;
    height: 100%;
    background-color: orange;
    z-index: 1;
    left: -20%;
    top: 10%;
}

.contact::before
{
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 90%;
    height: 70%;
    background-color: #1a202c;
    z-index: 2;
    left: 0%;
    bottom: -30%;
} */

/* .custom-shape-divider-bottom-1629357574 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1629357574 svg {
    position: relative;
    display: block;
    width: 0vw;
    height: 80vh;
    transform: rotateY(180deg);
} */

/* .custom-shape-divider-bottom-1629357574 .shape-fill {
    fill: #FFFFFF;
} */


.contact-img
{
    position: fixed;
    /* z-index: -1; */
    top: -10%;
    left: -3%;
}
/* .main-contact-div
{
    position: absolute;
    top: 0%;
} */
/* .contact h1, .main-contact-div, .custom-box, .css-8wszj5
{
    z-index: 2 !important;
} */
.contact h1
{
    align-self: flex-start;
    font-size: 4vw;
}

@media screen and (max-width: 1200px)
{
    .contact-side-img
    {
       width: 50% !important;
    }
    .contact h1 
    {
        font-size: 4vw;
    }
    .contact-info
    {
        font-size: 3vw !important;
    }
    .contact-img
    {
        left: 0%;
        top: -30%;
    }
}
@media screen and (max-width: 700px)
{
    .contact-side-img
    {
        top: 10% !important;
        right: unset !important;
        width: 60% !important;
    }
    .main-contact-div h1, .contact-div, .contact-info
    {
        align-self: center !important;
        text-align: center;
        width: fit-content !important;
    }
    .main-contact-div h1 
    {
        font-size: 8vw;
    }
    .contact-info
    {
        font-size: 4vw !important;
    }
    .contact a 
    {
        font-size: 1.3vw;
    }
}
@media screen and (max-width: 400px)
{
    .contact-side-img
    {
        width: 100% !important;
    }
    .main-contact-div h1 
    {
        font-size: 12vw;
    }
    .contact-info
    {
        font-size: 7vw !important;
    }
    .contact a 
    {
        font-size: 2vw;
    }
}