
.contact
{
    width: 100vw;
    height: 100% !important;
    content: "";
    padding: 0%;
    position: relative;
    overflow-y: hidden;
    color: #222244;
}

/* ::-webkit-scrollbar
{
    height: 100vh !important;
}
::-webkit-scrollbar-thumb
{
    background-color: white;
} */
.contact-bg
{
    background-image: url("../images/contact/contactBg.svg");
    content: "";
    width: 100vw;
    height: 150vh;
    background-repeat: no-repeat;
    top: 20%;
    left: -30%;
    position: absolute;
    transform: rotate(30deg);
}
 svg.shapediv13 {
    position: absolute;
    bottom: 0;
    height: 250px;
    width: 100vw;
    fill: #FF5252;
}
.contact span 
{
    color: #F1F2E1;
    text-shadow: 3px 4px #2b3336;
    margin: 0 1vw;
}
/* .contact::after
{
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 60%;
    height: 100%;
    background-color: orange;
    z-index: 1;
    left: -20%;
    top: 10%;
}

.contact::before
{
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 90%;
    height: 70%;
    background-color: #1a202c;
    z-index: 2;
    left: 0%;
    bottom: -30%;
} */

/* .custom-shape-divider-bottom-1629357574 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1629357574 svg {
    position: relative;
    display: block;
    width: 0vw;
    height: 80vh;
    transform: rotateY(180deg);
} */

/* .custom-shape-divider-bottom-1629357574 .shape-fill {
    fill: #FFFFFF;
} */


.contact-img
{
    position: fixed;
    /* z-index: -1; */
    top: -10%;
    left: -3%;
}
/* .main-contact-div
{
    position: absolute;
    top: 0%;
} */
/* .contact h1, .main-contact-div, .custom-box, .css-8wszj5
{
    z-index: 2 !important;
} */
.contact h1
{
    font-size: 5vw;
}
.lang 
{
    color: #f4f8fd;
    font-weight: 600;
}

@media screen and (max-width: 1200px)
{
    .contact-side-img
    {
       width: 50% !important;
    }
    .contact h1 
    {
        font-size: 4vw;
    }
    .contact-info
    {
        font-size: 1.5vw !important;
    }
    .contact-img
    {
        left: 0%;
        top: -30%;
    }
    .contact-main
    {
        margin-top: 18vh !important;
    }
}
@media screen and (max-width: 800px)
{
    .contact-main 
    {
        width: 45vw !important;
    }
    .contact-side-img
    {
        right: 0% !important;
    }
    .lang 
    {
        font-size: 2.4vw !important;
    }
}
@media screen and (max-width: 700px)
{
    .contact-side-img
    {
        display: none;
        top: 5% !important;
        right: unset !important;
        width: 50% !important;
    }
    .contact
    {
        height: fit-content;
        overflow-y: scroll;
    }
    .main-contact-div h1, .contact-info
    {
        margin-right: 0% !important;
        text-align: center;
        width: fit-content !important;
    }
    /* .contact-div:first-child
    {
        margin-right: 0% !important;
        width: 100% !important;
        justify-content: "space-between" !important;
    } */
    .main-contact-div
    {
        margin: auto !important;
        justify-self: flex-end;
    }
    /* .contact-info:nth-child(2), .contact-info:last-child
    {
        padding-right: 0% !important;
        align-self: center !important;
    } */
    /* .contact-info p, .contact-info b 
    {
        margin: auto !important;
    } */
    .contact-main
    {
        width: 100% !important;
        margin-left: auto !important;
        margin-right: auto !important;
        align-self: flex-end !important;
        margin-top: 5vh !important;
    }
    .contact-main h1 
    {
        margin: auto !important;
        font-size: 10vw !important;
    }
    .contact span 
    {
        text-shadow: 2px 2px #2b3336;
    }
    .main-contact-div h1 
    {
        font-size: 6vw;
    }
    .lang 
    {
        text-align: center;
        font-size: 5vw !important;
    }
    .contact b, .contact p
    {
        font-size: 4vw;
        text-align: left;
    }
    .mobile 
    {
        margin: auto;
    }
    .contact-div 
    {
        margin: auto;
        border-bottom: none !important;
        flex-direction: column !important;
    }
    .contact a 
    {
        font-size: 2vw;
    }
    .main-contact-div h1 
    {
        font-size: 8vw;
    }
    .mob-margin
    {
        margin-right: 6vw !important;
    }
    .contact-info
    {
        font-size: 3vw !important;
    }
    .contact p, .contact b 
    {
        text-align: center !important;
    }
}
@media screen and (max-width: 300px)
{
    .contact-side-img
    {
        width: 100% !important;
    }
    .main-contact-div h1 
    {
        font-size: 12vw;
    }
    .contact-info
    {
        font-size: 6vw !important;
    }
    .contact h1 
    {
        margin-bottom: 4vh;
    }
    .contact-main
    {
        padding: 0% !important;
        width: 100% !important;
    }
    .lang 
    {
        font-size: 6vw !important;
    }
}