*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Rationale&display=swap');
.image{
    background-repeat: no-repeat;
}
.flx{
    display: flex;
    text-align: center;
    justify-content: center;
}
.text{
    font-family: 'Rationale', sans-serif;
    font-size: 25px;
    font-weight: 700;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 50%;
    text-align: center;
}
.text1{
    font-size: 50px;  
    font-weight: 650;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}
.flx1{
    /* height: 100px; */
    line-height: 250px;
    text-align: center;
}
.boxx{
    display: flex;
    flex-wrap: wrap;
}
.swiper-pagination ,.swiper-pagination-clickable ,.swiper-pagination-bullets{
    display: none;
}
.sldr2{
    font-family: 'Rationale', sans-serif;
    font-weight: 400;
    color: #000;
}
.txt2{
    /* width: 50%; */
    padding: 20px;
    padding-top: 80px;
    background-size: cover;
    background-repeat: no-repeat;
    /* padding-bottom: 80px; */
    font-size: 20px;
    padding-right: 40px;
    font-family: 'Rationale', sans-serif;
    font-weight: 670;
}
.cont{
    background: url('../images/ppl4.svg');
    display: flex;
    flex-wrap: wrap;
    /* margin-bottom: 20px; */
    /* padding-bottom: 50px; */
    background-repeat: no-repeat;
    justify-content: flex-end;
}
#menu-button-10{
    border: 1px solid #000;
    
}
.boxxx{
    background: url('../images/ppl.svg');
    background-size: cover;
}
#x1{
    z-index: 99;
}
.spons{
    /* background: url('../images/ppl7.svg'); */
    background-color: #F4F7C5;
    background-repeat: no-repeat;
}
.sponstxt{
    font-size: xx-large;
    vertical-align: middle;
    padding-top: 5%;
    font-weight: 650;
    display: flex;
    justify-content: center;
}