.dd{
    display: flex;
    background-color: white;
    padding: 0 2.5rem;
    /* margin-left: 1rem;
    margin-right: 1rem; */

    color: black;

    /* color: whitesmoke; */
}
.dd .zz{
    
        width: 100%;
        max-width: 800px;
        height: auto;
        padding: 0 5%;
        /* border-radius: 25px; */
      
}
.dd .zz .kjk{
    
    /* width: 100%;
    max-width: 800px;
    height: auto;
    padding: 0 5%; */
    border-radius: 205px;
  
}
.dd .ccs{
    display: flex;
    flex-direction: column;
    align-items:center;
  justify-content: flex-start;
  text-align: center;
  width: 100%;
}
.dd .ccs .jok{

    font-size: large;
    font-weight: 500;
    padding-bottom: 5px;
}

.dd .ccs .goh{
    font-size: large;
    font-weight: 600;
    padding-bottom: 5px;
    /* text-align: left; */
    align-self: baseline;
}

.dd .ccs .lok{
    /* text-decoration: rgb(249, 253, 25); */
    
    font-size: large;
    font-weight: 500;
    /* padding-bottom: 5px; */

}

.dd .ccs .loki{
    /* text-decoration: rgb(249, 253, 25); */
    
    font-size:medium;
    font-weight: 500;
    padding-bottom: 5px;
    text-decoration: line-through;

}
.dd .ccs .loka{
    /* text-decoration: rgb(249, 253, 25); */
    
    font-size: large;
    font-weight: 500;
    padding-bottom: 5px;

}
.dd .ccs .loko{
    /* text-decoration: rgb(249, 253, 25); */
    
    font-size: medium;
    font-weight: 400;
    padding-bottom: 5px;

}
/* a:hover{
     
        background-color: yellow;
      
} */
.dd .ccs .hez{
    font-weight: bold;
    font-size: larger;
    display: flex;
    padding-bottom: 5px;
    /* padding: 5px 0; */
}

.dd .ccs .pop{
    color: black;
    font-weight: 500;
    display: flex;
    /* flex-direction: column-reverse; */
    justify-content: space-between;
    /* word-spacing: 100%; */
    /* --tw-space-x-reverse: 0;
margin-right: calc(0.75rem * var(--tw-space-x-reverse));
margin-left: calc(0.75rem * calc(1 - var(--tw-space-x-reverse))); */
    align-items: flex-start;
    width: 100%;
}
.dd .ccs .jok .btn{
    padding-left: 1.25rem;
    padding-right: 1.25rem;  
    padding-top: 0.5rem;
padding-bottom: 0.5rem;
margin-top: 0.75rem;
margin-bottom: 0.75rem;
border-radius: 0.75rem;
color: white;
background-color: blue;
font-size: medium;
}

.dd .ccs .btn {
    padding-left: 1.25rem;
padding-right: 1.25rem;
padding-top: 0.5rem;
padding-bottom: 0.5rem;
margin-top: 0.75rem;
margin-bottom: 0.75rem;
border-radius: 0.75rem;
color: white;
background-color: blue;
font-size: medium;
}

.dd .ccs .pop .size{
    padding-top: 0.25rem;
padding-bottom: 0.25rem;
width: 2.5rem;
text-align: center;
border-radius: 0.5rem;
--tw-bg-opacity: 1;
background-color: rgba(229, 231, 235, var(--tw-bg-opacity));
cursor: pointer;
    /* border: chocolate; */
    /* width: calc(100% - 10px); */
    /* display: flex; */
}
.dd .ccs .lk{
    width: calc(100% - 10px);
    font-size: medium;
    /* justify-content: flex-start; */
    text-align: start;

}
/* .dd .ccs p{
    width: calc(100% - 10px);
} */

@media screen and (max-width: 400px) and (min-width: 0px) {
    .dd{
        display:flex;
        flex-direction: column;
        background-color: white;
        padding: 0 0.5rem;
        color: black;
    }
    .dd .ccs{
        width: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        
        align-items:center;
        justify-content: space-between;
        text-align: center;
      }
 
  }
  @media screen and (max-width: 1000px) and (min-width: 800px) {
    .dd{
        display:flex;
        flex-direction: column;
        background-color: white;
        padding: 0 0.5rem;
        color: black;
    }
  
    .dd .ccs .pop{
        color: black;
        font-weight: 500;
        display: flex;
        /* flex-direction: column-reverse; */
        justify-content: space-between;
        /* word-spacing: 100%; */
        /* --tw-space-x-reverse: 0;
    margin-right: calc(0.75rem * var(--tw-space-x-reverse));
    margin-left: calc(0.75rem * calc(1 - var(--tw-space-x-reverse))); */
        align-items: flex-start;
        width: 60%;
    }
   
    .dd .ccs{
      width: 100%;
      padding: 30px 30px;
      margin: 0;
      display: flex;
      /* margin-bottom: 60px; */
      align-items:center;
      justify-content: center;
      text-align: center;
    }
    .dd .ccs .lk{
        width: calc(100% - 10px);
        font-size: medium;
        /* justify-content: flex-start; */
        text-align: start;

    
    }
 
  }

/* @media screen and (max-width: 1000px) {
    
  } */

  /* @media screen and (max-width:400px) {
   
    
  } */

  @media screen and (max-width:800px)and (min-width:400px){
    .dd{
        display:flex;
        flex-direction: column;
        background-color: white;
        padding: 0 0.5rem;
        color: black;
    }
    .dd .ccs .pop{
        color: black;
        font-weight: 500;
        display: flex;
        /* flex-direction: column-reverse; */
        justify-content: space-between;
        /* word-spacing: 100%; */
        /* --tw-space-x-reverse: 0;
    margin-right: calc(0.75rem * var(--tw-space-x-reverse));
    margin-left: calc(0.75rem * calc(1 - var(--tw-space-x-reverse))); */
        align-items: flex-start;
        width: 80%;
    }}
    /* @media screen and (max-width:1000px) { */
       
        /* @media screen and (min-width:800px) {
           
            }} */
    
    /* @media screen and (max-width:1250px) {
        .dd .ccs .pop{
            color: black;
            font-weight: 500;
            display: flex;
            
            justify-content: space-between;
           
            align-items: flex-start;
            width: 80%;
        }} */