@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500&family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@200&display=swap');

.profile h1,.profile h2 
{
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
}
html 
{
    box-sizing: border-box;
    overflow-x: hidden;
    padding-bottom: 0%;
}
.profile 
{
    padding-top: 15vh;
    width: 75vw;
    margin: auto;
    font-family: 'Lato', sans-serif;
    /* background-color: #1c1c2b80; */
}
.profile h1 
{
    font-size: 5vw;
    margin-bottom: 5vh;
    color: black;
}
.profile-div
{
    background: linear-gradient(to right, #b0dbbe 15%, #eff1d0c7 20px); 
    box-shadow: 0px 0px 15px 5px rgba(31, 33, 39, 0.24);
    color: black;
    margin: auto;
    position: relative;
    padding: 5vh 5vw;
    border-radius: 45px;
}
 .purchases .chakra-image
{
    border-radius: 15px;
}
.register-img
{
    /* margin-bottom: 5vh; */
    position: relative;
    width: fit-content;
}
.registered-swiper .swiper-slide
{
    width: 30vw;
    display: flex;
    justify-content: center;
}
.registered-swiper .swiper-container, .registered-swiper .swiper-wrapper
{
    width: fit-content;
    margin: auto;
    display: flex;
}
.date-time
{
    position: absolute;
    text-align: right;
    bottom: 0;
    right: 5%;
    font-weight: bold;
}
/* .profile-div::after
{
    background-image: url("../images/profile/person.jpg");
    position: absolute;
    background-size: cover;
    right: -5vw;
    top: -10vh;
    width: 18vw;
    height: 18vw;
    content: "";
    border-radius: 30%;
    border: 5px solid #0e101b;
} */
.registered-item button 
{
    background-color: #F1F2E1;
    padding: 10px;
    border-radius: 12px;
    margin-bottom: 3vh;
}
.profile-info p 
{
    font-size: 1.8vw;
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-weight: 200;
    /* margin: 2vh 0; */
    /* border-bottom: 2px solid #cc9fc6; */
    width: 30vw;
}
.profile-info > p:first-child, .purchases p
{
    font-weight: 600;
    font-size: 3.5vw;
}
.profile h3, .chakra-modal__header h2
{
    font-size: 2vw;
    font-weight: 800 !important;
    font-family: 'IBM Plex Sans Thai', sans-serif;
}
.profile .chakra-modal__body b 
{
    margin-top: 4vh ;
    font-size: 1.7vw;
    font-family: 'IBM Plex Sans', sans-serif;
}
.pop-up .chakra-button 
{
    align-self: flex-end;
    font-size: 1vw;
    font-weight: 500;
    background-color: #F1F2E1;
    padding: 10px;
    border-radius: 12px;
    color: black;
}
.chakra-modal__body p:first-child
{
    align-self: flex-end;
    font-style: italic;
    font-size: 1.2vw;
}
/* .profile .chakra-modal__body a:hover 
{
    color: black !important;
} */
.profile h2 
{
    font-size: 3vw;
    margin: 4vh 0;
    text-shadow: 0 2px #bdbdddc9, 0 3px #1c1c2bc2;
    margin-top: 8vh;
}
.purchase
{
    margin-bottom: 0% !important;
}
.registered-info p, .purchases-item p
{
    font-size: 1.3vw;
}
.registered-info
{
    padding: 4vh 0;
   
}
.registered-item:hover
{
    /* background-color: #b0dbbe; */
    background-color: #F1F2E1;
}
.purchase-swiper
{
    width: 100%;
    height: fit-content;
}
.profile a 
{
    padding: 0%;
    margin: 0%;
}
.registered-swiper
{
    width: 100%;
    margin: auto;
}
.profile .swiper-container
{
    margin-bottom: 5vh;
}

@media screen and (max-width: 1200px)
{
    .profile-div::after
    {
        top: -5%;
    }
    .profile-info
    {
        padding: 1vh 0 !important;
        padding-bottom: 0% !important;
    }
}
@media screen and (max-width: 550px)
{
    .profile-div
    {
        border-radius: 0;
    }
    .profile
    {
        width: 100vw;
    }
    .profile h1 
    {
        font-size: 8vw;
    }
    .profile-div::after
    {
        width: 30vw;
        height: 30vw;
        right: 0%;
    }
    .profile-info p, .profile-info p:first-child, .purchases-item p, .profile h3
    {
        font-size: 4vw;
    }
    .registered-info p
    {
        font-size: 3vw;
    }
    .profile h2 
    {
        font-size: 6vw;
    }
    .swiper-button-next, .swiper-button-prev
    {
        height: 20px  !important;
        width: 20px !important;
    }
}