@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
}

.txt2{
    font-family: 'Roboto', sans-serif;
}

.about-championship {
    padding: 30px 20px;
    font-size: 20px;
    background: #dedede;
    border-radius: 5px;
    margin-top: 25px;
    font-weight: bold;
    box-shadow: 5px 5px 5px #0000ff33;
    transition: 0.3s;
    width: 80%;
    text-align: center;
}